@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* app-container css */
@media (min-width: 992px) {
    .app-container {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    /* .me-lg-10 {
        margin-right: 2.5rem !important;
    }
    .gap-lg-10 {
        gap: 2.5rem !important;
    } */
}



