@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ant-input[type="text"]:focus {
    border: 1.5px solid #555;
}

.ant-input[type="text"]:hover {
    border: 1.5px solid #555;
}

.ant-input[type="text"] {
    outline: none;
}

.ant-btn[type="button"]:focus{
    border: 1.5px solid #555;
    color: black;
}
.ant-btn[type="button"]:hover{
    border: 1.5px solid #555;
    color: black;

}



/* app-container css */
@media (min-width: 992px) {
    .app-container {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    /* .me-lg-10 {
        margin-right: 2.5rem !important;
    }
    .gap-lg-10 {
        gap: 2.5rem !important;
    } */
}




